@model GolfTour.Web.ViewModels.AllCoursesViewModel

<h1>All Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Designer</th>
            <th>ImageCourse</th>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Country</td>
                <td>@course.City</td>
                <td>@course.Designer</td>
                <td>@course.ImageCourse</td>
            </tr>
        }
    </tbody>
</table>